@model Life.Application.Services.Exercises.DTO.ExerciseDTO

@using Life.Core.Domain.Exercises

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Exercise</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="ExerciseType" class="control-label"></label>
                <select id="exercise-type" asp-for="@Model.ExerciseType" asp-items="Html.GetEnumSelectList<ExerciseType>()" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
            </div>
            <div class="set-list">
                @foreach (var set in Model.Sets)
                {
                    <script on-content-loaded="true">addSet({duration:"@set.Duration", setDescription:"@set.SetDescription", weight:"@set.Weight", reps:"@set.Reps"});</script>
                }
                <button class="add-set">Add Set</button>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>

    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <environment include="Development">
        <link href="~/lib/jqueryui/jquery-ui.css" rel="stylesheet" />
        <script src="~/lib/jqueryui/jquery-ui.js"></script>
        <script src="~/js/exercise/setdynamicgenerator.js" on-content-loaded="true"></script>
    </environment>
    <environment include="Production">
        <link href="~/lib/jqueryui/jquery-ui.min.css" rel="stylesheet" />
        <script src="~/lib/jqueryui/jquery-ui.min.js"></script>
        <script src="~/js/exercise/setdynamicgenerator.min.js" on-content-loaded="true"></script>
    </environment>
}
